@media  screen and (max-width:700px) {
    nav{
        flex-direction: column;
    }
    .log{
        justify-content: center;
        margin: 10px 0;
    }
    nav ul{
        justify-content: center;
    }
    .search{
        justify-content: center;
        margin: 0 16px 10px 16px;
    }
    .slider img{
        height: 30vh;
    }
    .card-item img{
        width: 20vw;
        height: 10vh;
    }
}